html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* hero container */
.hero {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background video */
.bg-video {
 position: absolute; 
 inset: 0; 
 width: 100%; 
 height: 100%; 
 object-fit: cover; 
 z-index: -1;
}

.hero-title {
  font-family: "Star Jedi";
  font-size: clamp(3rem, 10vw, 8rem);
  color: #ffe81f;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow:
    0 0 10px rgba(255, 232, 31, 0.8),
    0 0 20px rgba(255, 232, 31, 0.6),
    0 0 30px rgba(255, 232, 31, 0.4);
  z-index: 1;
  padding-bottom: 6.5rem;
}

@font-face {
  font-family: "Star Jedi";
  src: url("/assets/fonts/StarJedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
